@model  Claudia.Site.IWidget

<div class="col-lg-6 col-md-6">

    @if (!Model.HeaderText.IsEmpty())
    {
        <h3>@Model.HeaderText</h3>
    }

    @Html.Partial(string.Concat(new[] { "Widgets", "/", @Model.SubWidget.WidgetName ?? "_SubWidget" }), @Model.SubWidget)

    @if (!Model.FooterText.IsEmpty())
    {
        <a class="btn btn-info" href="@Model.FooterText"><span class="glyphicon glyphicon-hand-right icon-white"></span>&nbsp;visit page</a>
    }
</div>
