@model Claudia.Domain.Models.v1.Link
@{
    Layout = "~/Views/CMS/_LayoutPage.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-horizontal">
            <h2>@ViewBag.Title</h2>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CategoryId)
            @Html.HiddenFor(model => model.DateTimeStamp)

            <div class="form-group">
                @Html.LabelFor(model => model.Title, "Title", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, "Description", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { @rows = 4, @cols = 50 })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save to database" class="btn btn-success" /> | 
                    @Html.ActionLink("Back to list", "List", new { entity = ViewBag.Entity }, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    </div>
}