@using Claudia.Site.Helpers
@using PagedList.Mvc
@model PagedList.IPagedList<Claudia.Site.Areas.CMS.Models.LinkRecipeViewModel>
@{
    ViewBag.Title = "Recipes";
    Layout = "~/Areas/CMS/Views/Shared/_LayoutPage.cshtml";
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <p class="pull-right">
        @Html.ActionLink("Create new", "Create", new { entity = ViewBag.Entity }, new { @class = "btn btn-success" })
    </p>
    <table class="table table-bordered table-striped">
        <tr>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Link.Title)
            </th>
            <th class="col-md-2">Category</th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Recipe.User.UserName)
            </th>
            <th class="col-md-2">Images</th>
            <th class="col-md-2">Options</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Link.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipe.Category.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipe.User.UserName)
                </td>
                <td>
                    @{
            if (item.Link.LinksUrls.Any())
            {
                foreach (var t in item.Link.LinksUrls)
                {
                    @Html.Thumbnail("recipe", t.ServerFileName, null);
                }
            }
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Link.Id }, new { @class = "btn btn-info btn-sm" }) |
                    @Html.ActionLink("Add images", "Create", "ImageEditor", new { linkId = item.Link.Id, returnUrl = Request.Url }, new { @class = "btn btn-info btn-sm" })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.Classic)
</div>